.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-description {
    margin: 0px 3rem 0px 3rem;
    text-align: start;
}

@media screen and (min-width: 768px) {
    .about-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}