.skills-container {
    padding-top: 1rem;
    background: linear-gradient(#1d487d, #fff);
    height: 55vh;
    margin-bottom: 12rem;
}
.skills-main-title {
    font-size: 1.7rem;
    font-weight: 300;
    color: #fff;
    padding: 0px 0px 0.5rem 0px;
    margin: 2.5rem 2.5rem 0px 2.5rem;
}

.skills-title-border {
    border-bottom: 1px solid #fff;
    margin: 0px 3rem 2.5rem 3rem;
    padding: 10px 0px 0px 0px;
}

.skills-list {
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0px 3.5rem 0px 3.5rem;
    
}
@keyframes moveIcon {
    0% {transform: rotate(20deg);}
    25% {transform: rotate(-20deg);}
    50% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}
.skills-icons {
    height: 73px;
    width: 73px;
    animation-name: moveIcon;
    animation-duration: 1.5s;
}


@media screen and (min-width: 768px)  {
    .skills-container {
        padding-top: 1rem;
        background: linear-gradient(#1d487d, #fff);
        height: 50vh;
    }
    
    .skills-main-title {
        font-size: 2.5rem;
        font-weight: 300;
        color: #fff;
        padding: 0px 0px 0.5rem 0px;
        margin: 2.5rem 2.5rem 0px 2.5rem;
    }

    .skills-title-border {
        border-bottom: 1px solid #dddddd;
        margin: 0px 19rem 5rem 19rem;
        padding: 10px 0px 0px 0px;
    }
}